# Preprocessing the data

## Importing the packages

In [1]:
import sys
import os
%matplotlib inline
# Add the src directory to the Python path
sys.path.append(os.path.abspath('../src'))
from data_prepocessing import  split_data, preprocess_data, normalize_data
from utils import save_dataframe_as_csv, set_pandas_display_options, load_data

2024-07-09 11:25:54.323243: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0

## Loading the dataset

In [2]:
#loading the dataset
dataset_path = '../datasets/raw/titanic.csv'
df = load_data(dataset_path)

In [3]:
selected_feature_columns =['p_class', 'sib_sp', 'parch', 'fare','survived']
selected_feature_columns =['p_class', 'sib_sp','survived']

df = df[selected_feature_columns]
df.columns

Index(['p_class', 'sib_sp', 'survived'], dtype='object')

## Initializing the variables

In [4]:
test_size = 0.2
val_size = 0.2
normaliztion_method =  'max_abs'
normalization_columns = ['fare', 'sib_sp', 'parch']
normalization_columns = [ 'sib_sp']

In [5]:
#setting the maximum number of printing columns 
set_pandas_display_options()

In [6]:
#preprocessing the data that includes removing duplicate and null values
print(df.shape)
null_counts = df.isnull().sum()
null_counts

(891, 3)

p_class     0
sib_sp      0
survived    0
dtype: int64

In [7]:
normalize_data(df, normaliztion_method, normalization_columns)

     p_class  sib_sp  survived
0          3   0.125         0
1          1   0.125         1
2          3   0.000         1
3          1   0.125         1
4          3   0.000         0
..       ...     ...       ...
886        2   0.000         0
887        1   0.000         1
888        3   0.125         0
889        1   0.000         1
890        3   0.000         0

[891 rows x 3 columns]

In [8]:
# One-hot encode 'Sex' column
# import pandas as pd
# df = pd.get_dummies(df, columns=['sex'], drop_first=False)
df.columns

Index(['p_class', 'sib_sp', 'survived'], dtype='object')

In [9]:
#selecting the feature columns 
feature_columns = ['p_class', 'sib_sp', 'parch', 'fare']
feature_columns = ['p_class', 'sib_sp']


#selecting the label column
label_columns = 'survived'


#shuffleing the data before splitting
df = df.sample(frac=1).reset_index(drop=True)
df.head
# normalize_data(df, normaliztion_method, feature_columns)

#spiliting the data into x_train, y_train, x_test, y_test
x_train, x_test, x_val, y_train, y_val, y_test = split_data(df, feature_columns, label_columns, test_size=test_size, val_size=val_size)

## Saving the x_train, y_train, x_val, y_val, x_test, y_test

In [10]:

save_dataframe_as_csv(x_train, "../datasets/ready/train/x_train.csv")
save_dataframe_as_csv(y_train, "../datasets/ready/train/y_train.csv")
save_dataframe_as_csv(x_val, "../datasets/ready/val/x_val.csv")
save_dataframe_as_csv(y_val, "../datasets/ready/val/y_val.csv")
save_dataframe_as_csv(x_test, "../datasets/ready/test/x_test.csv")
save_dataframe_as_csv(y_test, "../datasets/ready/test/y_test.csv")